<%= simple_form_for(@competition_debt) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :source_of_debt %>
  </div>

  <div class="form-inputs">
    <%= f.input :debt_amount %>
  </div>

  <div class="form-inputs">
    <%= f.collection_select :competition_id, Competition.all, :id, :name %>
  </div>

  <div class="form-inputs">
    <%= f.association :varsity_member %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
