<%= simple_form_for(@competition) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-inputs">
    <%= f.input :number_of_contingent, label: 'Number of members in the contingent' %>
  </div>

  <div class="form-inputs">
    <%= f.input :arqp_contingent_debater, :label => "Assigned Required Quota Points for Contingent Debater" %>
  </div>

  <div class="form-inputs">
    <%= f.input :arqp_contingent_adjudicator, :label => "Assigned Required Quota Points for Contingent Adjudicator" %>
  </div>

  <div class="form-inputs">
    <%= f.input :arqp_non_contingent, :label => "Assigned Required Quota Points for Non-Contingent" %>
  </div>

  <div class="form-inputs">
    <%= f.input :status, :as => :select, :collection => Competition::STATUS, :label => "Status" %>
  </div>

  <div class="form-inputs">
    <%= f.label :start_date, "Start Date" %>
    <%= f.date_select :start_date %>
  </div>

  <div class="form-inputs">
    <%= f.label :end_date, "End Date" %>
    <%= f.date_select :end_date %>
  </div>

  <div class="form-inputs">
    <%= f.input :quota_point_monetary_value %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, data: { confirm: 'Are you sure?'}%>
  </div>
<% end %>
