<%= simple_form_for(@training_activity, :validate => true) do |f| %>
 
 <ul>
  <% @training_activity.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-inputs">
    <%= f.input :quota_point_value %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
